body{
  margin: 0;
    background-image: url("about.png");
    /* background-size: 200px 300px; */
    /* height: 20%; */


  /* Center and scale the image nicely */
  background-position:top;
  background-repeat:unset;
  /* background-size: cover; */


}
.about{
  padding-bottom: 50px;
}

.about_text, .benits,.about_vision {
    text-align: center;
   margin-top: 100px;
}   
 p{
     text-align: center;
 }

.about_mission{
  text-align: center;
   /* bottom: 150px; */
   /* width: 500px; */
   padding-left: 500px;

} 
.about_vision{
  margin-top: 0%;
  font-size: 23px;

}

.mission_img{
  padding-left: 30px;
 /* top: 40px; */
/* padding-bottom: 50%; */

}
.mission_text{
  text-align: center;
  padding-top: 20px;
}
.vision_text{
  width: 50%;
  text-align: center;
  padding-left: 25%;
margin-top: auto;
}
.mission_content{
  font-size: 23px;
  font-weight: lighter;
  padding-top: 5px;
  padding-right: 270px;
  float: right;
}
.vision_content{
  font-size: 23px;
  font-weight: lighter;
  padding-top: 20px;
  padding-left: 25%;
  padding-bottom: 30px;

  width: 50%;

  /* padding-right: 270px; */
  /* float: right; */
}
.benifits_tittle{
  margin-top: 2px;
  text-align: center;
}
.example1,.example2,.example3 {
  margin-left: 170px;
 padding-bottom: 20px;
  width:80%;
  height: 250px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px;
}
.tittle_mission{
  top:5px;
float: right;
height: 10px;
padding-right: 200px;
}

.span_mis{
  /* padding-top: 50px; */

  padding-bottom: 20px;
  font-size: 20px;
}

.mission_img1{
  float: right;

}
.tittle_mission1{
  top:5px;
  float: left;
  height: 5px;
  padding-left: 200px;
  }
  .span_mis1{
    /* padding-top: 50px; */
  padding-bottom: 20px;

    font-size: 20px;
  }