body{
  margin: 0;
    background-image: url("about.png");
    background-size: 200px 300px;
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.about{
  padding-bottom: 50px;
}

.about_text, .benits {
    text-align: center;
   margin-top: 100px;
}   
 p{
     text-align: center;
 }

.about_mission{
  text-align: center;
   /* bottom: 150px; */
   /* width: 500px; */
   padding-left: 500px;

} 

.mission_img{
  padding-left: 30px;
  padding-top:0px;

}
.mission_text{
  text-align: center;
  padding-top: 20px;
}
.mission_content{
  font-size: 23px;
  font-weight: lighter;
  /* padding-top: 5px; */
  padding-right: 375px;
  float: right;
}
.benifits_tittle{
  margin-top: 2px;
  text-align: center;
}
.example1,.example2,.example3 {
  margin-left: 170px;
 padding-bottom: 20px;
  width:80%;
  height: 250px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px;
}
.tittle_mission{
  top:5px;
float: right;
height: 10px;
padding-right: 200px;
}

.span_mis{
  /* padding-top: 50px; */

  padding-bottom: 20px;
  font-size: 20px;
}

.mission_img1{
  float: right;

}
.tittle_mission1{
  top:5px;
  float: left;
  height: 5px;
  padding-left: 200px;
  }
  .span_mis1{
    /* padding-top: 50px; */
  padding-bottom: 20px;

    font-size: 20px;
  }